*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

ul,
ol {
  list-style: none;
  padding: 0px;
}

body {
  font-family: "Red Hat Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: hsl(20, 50%, 98%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.content {
  margin: 50px 80px 50px 80px;
  margin-bottom: auto;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}
@media (max-width: 1369px) {
  .content {
    flex-wrap: wrap;
  }
}

.desserts {
  /* height: 100%; */
  /* width: 100%; */
}

.dessert-type{
  color: hsl(12, 20%, 44%);
  font-weight: 400;
}

.dessert-name{
  color: hsl(14, 65%, 9%);
  font-weight: 600;
}

.dessert-price{
  font-weight: 600;
  color: hsl(14, 86%, 42%);
}

.desserts-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  list-style: none;
}

.desserts-list li {
  max-width: 260px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.dessert-card-container img {
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.dessert-image-container {
  position: relative;
  margin-bottom: 30px;
}

.cart-control {
  display: flex;
  position: absolute;
  margin: 0;
  left: 50%;
  width: 65%;
  height: 2.8em;
  border-radius: 100em;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.add-to-cart-btn {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  border-radius: inherit;
  border: solid 1px hsl(14, 86%, 42%);
  background-color: white;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}

.add-to-cart-btn img{
  max-width: 1.5em;
  margin-right: 7px;
}

.add-to-cart-btn p{
  display: block;
}

.add-to-cart-btn:active {
  color: hsl(14, 86%, 42%);
  border: solid 2px;
  background-color: hsl(20, 50%, 98%);
}

.quantity-control {
  position: relative;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(14, 86%, 42%);
  overflow: hidden;
  color: hsl(20, 50%, 98%);
}

.quantity-control span {
  user-select: none;
}

.quantity-btn {
  font-size: 1rem;
  font-weight: 100;
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 50%;
  width: 1.2em;
  height: 1.2em;
  padding: 0px;
  margin: 15px;
  cursor: pointer;
  color: inherit;
  border: solid 1px hsl(20, 50%, 98%);
  background-color: inherit;
}

.quantity-btn:active {
  background-color: white;
  color: hsl(14, 86%, 42%);
}

.plus span {
  align-self: center;
  font-size: 1.4rem;
  width: 100%;
}

.minus span {
  position: relative;
  align-self: center;
  font-size: 1.75rem;
  transform: translateY(-4%);
}
.quantity {
  padding: 5px;
  align-self: center;
}

.cart-container {
  background-color: white;
  border-radius: 15px;
  padding: 25px;
  min-width: 370px;
  height: fit-content;
}
.cart-container h2 {
  color: hsl(14, 86%, 42%);
  margin-bottom: 20px;
}

.cart-item-details {
  display: flex;
}

.cart-item-details p {
  display: block;
}

.cart-item-name {
  font-size: 1.05rem;
  color: hsl(14, 65%, 9%);
  font-weight: 500;
  margin-bottom: 10px;
}

.cart-item-quantity {
  margin-right: 15px;
  color: hsl(14, 86%, 42%);
  font-weight: 500;
}

.cart-item-price {
  margin-right: 8px;
  color: hsl(12, 20%, 44%);
}

.cart-item-total-price {
  font-weight: 600;
  color: hsl(12, 20%, 44%);
}

.cart-order-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.cart-order-total p {
  display: block;
  width: fit-content;
  color: hsl(14, 65%, 9%);
}

.order-total-text{
  font-weight: 400;
}

.order-total-amount{
  font-size: 2rem;
  font-weight: 700;
}

.cart-carbon-neutral {
  background-color: hsl(13, 31%, 94%);
  display: flex;
  /* padding: 15px 40px 15px 40px; */
  height: 4rem;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 25px;
  align-items: center;
  justify-content: center;
}

.cart-carbon-neutral img {
  width: 1.6rem;
  padding-right: 7px;
}
.cart-carbon-neutral p {
  display: block;
  height: fit-content;
}

.cart-items {
  flex-direction: column;
  position: relative;
}

.cart-item {
  display: block;
  margin: 0px;
  width: 100%;
  margin-bottom: 8px;
}

.cart-item::after {
  display: inline-block;
  content: "";
  border-top: 2px solid hsl(13, 31%, 94%);
  width: 100%;
  /* transform: translateY(-1rem); */
}

.confirm-order-btn {
  display: block;
  width: 100%;
  height: 2.9rem;
  cursor: pointer;
  background-color: hsl(14, 86%, 42%);
  color: hsl(20, 50%, 98%);
  border-radius: 100px;
  border: none;
}

.confirm-order-btn {
  background-color: hsl(14, 86%, 32%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
