*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

ul,
ol {
  list-style: none;
  padding: 0px;
}

body {
  font-family: "Red Hat Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  background-color: hsl(13, 31%, 94%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.content {
  margin: 50px 80px 50px 80px;
  margin-bottom: auto;
  display: flex;
  flex-direction: row;
}

list {
  display: flex;
  margin-top: 20px;
}

ul {
  max-width: 230px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.dessert-card-image-container > img {
  border-radius: 15px;
  overflow: hidden;
}

.cart-container {
  background-color: hsl(20, 50%, 98%);
  border-radius: 15px;
  padding: 25px;
}

.cart-carbon-neutral {
  background-color: hsl(13, 31%, 94%);
  display: flex;
  padding: 15px 40px 15px 40px;
  border-radius: 5px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
